@import "styles/settings/colors";

.btn {
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 40px;
  border: 0;
  transition: background-color 200ms, color 200ms;
}

.btn-default {
  color: $white;
  background-color: $primary-1;

  &:hover {
    color: $white;
    background-color: $primary-2;
    text-decoration: none;
  }

  &:active {
    color: $primary-1;
    background-color: $primary-4;
  }

  &:disabled {
    color: $primary-4;
    background-color: $primary-5;
    cursor: default;
  }
}

.btn-outline {
  color: $primary-1;
  background-color: $primary-4;
  border: $primary-1 2px solid;
  box-shadow: 1px 1px 7px #c4c4c4c4;
  padding: 8px 25px;
  border-radius: 10px;

  &:hover {
    color: $white;
    background-color: $primary-2;
    text-decoration: none;
  }

  &:active {
    color: $primary-1;
    background-color: $primary-4;
  }

  &:disabled {
    color: $primary-4;
    background-color: $primary-5;
    cursor: default;
  }
}

.btn-accent {
  color: $white;
  background-color: $accent-1;

  &:hover {
    color: $white;
    background-color: $accent-2;
    text-decoration: none;
  }

  &:active {
    color: $accent-1;
    background-color: $accent-4;
  }

  &:disabled {
    color: $accent-4;
    background-color: $accent-5;
    cursor: default;
  }
}

.btn-small {
  padding: 7px 20px;
}
