$primary-1: #71c9ce;
$primary-2: #a6e3e9;
$primary-3: #cbf1f5;
$primary-4: #e3fdfd;

$neutral-1: #1e2022;
$neutral-2: #52616b;
$neutral-3: #c9d6df;
$neutral-4: #f0f5f9;

$accent-1: #ce7671;
$accent-2: #e9aca6;
$accent-3: #f5cfcb;
$accent-4: #fde3e3;

$white: #fff;
$black: #000;
