@import "styles/settings/spacing";

.dashboard-page-navigation {
  padding: $spacing-2;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: $spacing-1;
}
