@import "styles/settings/colors";

.input-required {
  color: $primary-2;
  text-decoration: none;
  font-weight: bold;
  padding: 0 1px;
}

.label {
  display: block;
  font-weight: 500;
}

.input {
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 0.75em 0.5em;
  min-width: 200px;
  border: none;
  border-left: 7px solid $neutral-4;
  transition: border-left-color 160ms;
  background-color: $white;
}

::placeholder {
  color: $neutral-4;
}

input:focus {
  outline: none;
  border-left: 7px solid $primary-1;
}
