$primary-1: #2b8379;
$primary-2: #19a596;
$primary-3: #7fd1c7;
$primary-4: #7fd1c7;
$primary-5: #d0f3ef;

$neutral-1: #030303;
$neutral-2: #2c2c2c;
$neutral-3: #434343;
$neutral-4: #94868b;
$neutral-5: #d9cfd3;

$accent-1: #970e3d;
$accent-2: #c43464;
$accent-3: #de7699;
$accent-4: #e6c3ce;
$accent-5: #fff2f7;

$white: #fff;
$black: #000;
